.btn__container {
  display: flex;
  padding-top: $unit;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $night;
  color: $day;
  width: calc(33% - #{$unit});
  margin-right: $unit;
  cursor: pointer;
}

.btn__text {
  @include t--header-3;
  padding: $unit;
}

.btn[data-type='point'] {
  background: unset;
  flex-direction: column;
  .btn__text {
    @include t--body-black;
    color: $day;
    border: $border-width solid $day;
    width: 100%;
    text-align: center;
  }
}

.btn__arrow {
  width: 3rem;
  padding-bottom: $half;
}

.btn[data-type='large'] {
  width: calc(50% - #{$unit});

  .btn__text {
    @include t--header-1;
  }
}

.btn[data-diapositive='true'] {
  background: white;

  .btn__text {
    color: $night;
  }
}

.btn[data-type='image'] {
  .btn__img {
    height: $two;
    width: $two;
    margin-right: $unit;
  }

  .btn__img--hover {
    display: none;
  }
}

.btn[data-type='image']:hover {
  background: $day;
  color: $night;

  .btn__img {
    display: none;
  }

  .btn__img--hover {
    display: block;
  }
}
