.button__container {
  display: flex;
  padding: 4rem 0 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 4rem 0;
  background: $night;
  color: $day;
}

.button + .button {
  margin-left: 4rem;
}

.button:hover {
  background: $white;
  color: $complementary;

  .button__img {
    display: none;
  }

  .button__img--hover {
    display: block;
  }
}

.button__text {
  @include t--x-small;
}

.button__img {
  height: 8rem;
  width: 8rem;
  margin-right: 3rem;
}

.button--wide {
  width: 66%;
}

.button__img--hover {
  display: none;
}

.button--complementary:hover {
  background: $complementary;
  color: $day;
}

// New btn styles

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $night;
  color: $day;
  width: 25%;
  word-wrap: break-word;
}

.btn__text {
  @include t--x-small;
  text-align: center;
  width: 100%;
  padding: $unit;
}

.btn[type='point'] {
  background: unset;

  .btn__text {
    color: $day;
    border: 1rem solid $day;
  }
}

.btn__arrow {
  width: 10rem;
  padding-bottom: $half;
}

.btn[data-size='large'] {
  width: 33%;
}
