.button__container {
  display: flex;
  padding: 4rem 0 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 4rem 0;
  background: $night;
  color: $day;
}

.button + .button {
  margin-left: 4rem;
}

.button:hover {
  background: $white;
  color: $complementary;

  .button__img {
    display: none;
  }

  .button__img--hover {
    display: block;
  }
}

.button__text {
  @include t--x-small;
}

.button__img {
  height: 8rem;
  width: 8rem;
  margin-right: 3rem;
}

.button--wide {
  width: 66%;
}

.button__img--hover {
  display: none;
}

.button--complementary:hover {
  background: $complementary;
  color: $day;
}

// New btn styles

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn[type='point'] {
}

.btn[size='large'] {
}

.btn__arrow {
  width: 10rem;
  padding-bottom: $half;
}

.btn__text {
  @include t--x-small;
  text-align: center;
  width: 100%;
  padding: $unit;
  border: 1rem solid $day;
  color: $day;
}

// Button animations
.slide-enter {
  max-height: 0;
  opacity: 0.01;
}

.slide-enter.slide-enter-active {
  max-height: 100vh;
  opacity: 1;
  transition: all 500ms ease-in;
}

.slide-leave {
  max-height: 100vh;
  opacity: 1;
}

.slide-leave.slide-leave-active {
  max-height: 0;
  opacity: 0.01;
  transition: all 500ms ease-out;
}
