.checkboxes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.checkboxes__title {
  @include t--small;
  color: $day;
  padding: $unit 0 $two 0;
}

.checkbox {
  width: calc(50% - #{$half});
  margin: 0 0 $unit 0;
  padding: $half $unit;
  background: $day;
  transition: all 0.4s ease;
  cursor: pointer;
}

.checkbox__input {
  width: 0;
  opacity: 0;
  position: absolute;
}

.checkbox__label::before {
  content: '';
  display: inline-block;
  cursor: pointer;

  height: $two;
  width: $two;
  margin-top: 1.4rem;

  border: 1rem solid $complementary;
}

.checkbox__input:checked + label::before {
  content: '';
  background-color: $complementary;
}

.checkbox__label {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}

.checkbox__content {
  cursor: pointer;
  padding-left: $unit;
}

.checkbox__title {
  @include t--small;
  color: $night;
}

.checkbox__text {
  @include t--x-small;
  padding: 0 0 1rem;
  color: $complementary;
}

.checkboxes__title[data-sticky='true'] {
  display: none;
}

.checkboxes__container[data-sticky='true'] {
  .checkbox {
    width: calc(33% - #{$half});
    background-color: $complementary;
    color: $day;
    margin: 0;
  }
  .checkbox__content {
    padding: 0;
  }
  .checkbox__title {
    color: $day;
  }
  .checkbox__text {
    display: none;
  }
  .checkbox__label {
  }
  .checkbox__label::before {
    display: none;
  }
  .checkbox[data-checked='0'] {
    display: none;
  }
}

.checkboxes__container .checkbox__active {
  &.checkbox {
    background-color: $day;
  }
  .checkbox__title {
    color: $night;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .checkbox__container {
    @include column-component;
    padding: $unit 0;
  }

  .checkbox {
    width: 100%;
  }

  .checkbox__arrow {
    display: none;
  }
}
