.credits__title {
  @include t--header-2;
  padding-bottom: $unit;
  padding-left: $unit;
  color: $day;
}

.credits__text p {
  @include t--body-black;
  padding-left: $unit;
  color: $complementary;
}

.credits__text a:hover {
  border-bottom: $border-width solid $complementary;
}

.credits__text a:hover {
  color: $day;
  border-bottom: $border-width solid $day;
}
