.credits {
  width: 100%;
  max-width: 1200px;
  padding: 0 $unit;
}

.credits__title {
  @include t--small;
  padding-bottom: 2rem;
  color: $day;
}

.credits__text p {
  @include t--x-small;
  color: $complementary;
  line-height: 5.5rem;
}

@media (min-width: 0px) and (max-width: 600px) {
  .credits {
    padding: 0 $unit;
  }

  .credits__title {
    @include t--x-small-responsive;
  }

  .credits__text p {
    @include t--small-responsive;
  }
}

.credits__text a:hover {
  border-bottom: .5rem solid $complementary;
}

.credits__text a:hover {
  color: $day;
  border-bottom: .5rem solid $day;
}
