.layout__credits-container {
  @include block-container;
  padding-bottom: $unit * 5;
  background: $night;
}

.layout__credits {
  @include block;
  flex-direction: column;
}

.credits__title {
  @include t--header-2;
  padding-bottom: $unit;
  color: $day;
  color: var(--accent-color);
}

.credits__text p {
  @include t--body-black;
  color: $white;
  max-width: 66%;
}

@media (min-width: 0px) and (max-width: $bp-medium) {
  .credits__text p {
    max-width: 100%;
  }
}

.credits__text a:hover {
  border-bottom: $underline-width solid $complementary;
  margin-bottom: -$underline-width;
}

.credits__text a:hover {
  color: $day;
  border-bottom: $underline-width solid $day;
}

// only used on 404 page
.credits__link {
  @include t--header-2;
  padding-bottom: $unit;
  color: $day;
  padding-bottom: 0;
}

.credits__link:hover {
  border-bottom: $border-width solid $complementary;
  border-bottom: $border-width solid var(--accent-color);
}
