.layout__cta-container {
  @include block-container;
  height: 20rem;

  flex-direction: column;
  align-items: center;

  background: #ffcc00;
}

.layout__cta {
  @include block;
  padding: 0 $side-padding;
}

.cta__section__left {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: $unit 0;
}

.cta__title {
  padding-bottom: $unit;
  width: 100%;
}

.cta__section__right {
  padding: $unit;
  width: 30%;
}

.cta__img {
  height: 15rem;
}
