.layout__cta-container {
  @include block-container;
  height: 10rem;

  flex-direction: column;
  align-items: center;

  background: $day;
}

.layout__cta {
  @include block;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: $unit * 2 $side-padding;
}

.cta__section {
  display: flex;
}

.cta__title {
  width: 80%;
}

.cta__img {
  margin-left: $unit * 2;
  height: 100%;
}
