.header__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(50% - #{$unit * 1.5});
  padding: 2rem 0;
  transition: all 0.3s linear;
  // overflow: hidden;
}

.header__title {
  @include t--title;
  color: $day;
  transition: all 0.1s linear;
}

.header__line {
  position: absolute;
  left: calc(50% - #{0.3rem});
  display: block;
  height: ($header-height-full - 2rem);
  transition: all 0.3s linear;
}

.header__line-hz {
  display: none;
  transition: all 0.5s linear;
}

.header__subtitle {
  @include t--header-1;
  color: $complementary;
  transition: all 0.1s linear;
}

.header__author {
  @include t--header-3;
  color: $day;
  transition: all 0.5s linear;
  cursor: pointer;
}

.header__author:hover a {
  border-bottom: $border-width solid $day;
}

.layout__header-container[data-size='small'] {
  width: 100%;

  .header__section {
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0;
  }
  .header__title {
    @include t--header-1;
  }
  pre {
    white-space: normal;
  }
  .header__line {
    height: ($header-height-small - 2rem);
  }
  .header__subtitle {
    @include t--header-2;
    color: $complementary;
    max-width: 18rem;
  }

  .header__contact {
    @include t--header-3;
    color: $day;
    align-self: flex-end;
    border-bottom: $border-width solid $night;
    cursor: pointer;
  }

  .header__contact:hover {
    border-bottom: $border-width solid $day;
  }
  .header__author {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .header__section {
    width: 100%;
  }

  .header__line-hz {
    display: block;
    width: 100%;
  }

  .header__line {
    display: none;
  }

  .layout__header-container[data-size='small'] {
    .header__section:last-of-type {
      flex: 1 0 0;
    }
    .header__subtitle {
      display: none;
    }
    .header__line-hz {
      display: none;
      width: 100%;
    }
  }

  .header__author {
    padding-top: $two;
  }
}
