.header__section {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: calc(50% - #{$unit * 1.5});
  padding: 2rem 0;
  position: relative;
  // overflow: hidden;
}

.header__title {
  @include t--title;
  white-space: pre;
  color: $day;
}

.header__line {
  position: absolute;
  opacity: 1;
  bottom: 1rem;
  left: calc(50% - #{0.3rem});
  display: block;
  height: ($header-height-full - 2rem);
}

.header__line-short {
  opacity: 0;
}

.header__line-hz {
  display: none;
}

.header__subtitle {
  position: relative;
  white-space: pre;
  @include t--header-1;
  // oh horror: typography addition
  line-height: 4.175rem;
  bottom: 6.5rem;
  color: $complementary;
}

.header__author {
  @include t--header-3;
  position: absolute;
  bottom: 2rem;
  // oh horror: typography addition
  line-height: 0.8rem;

  color: $day;
  border-bottom: $underline-width solid $night;
  margin-bottom: -$underline-width;
  cursor: pointer;
}

.header__author:hover a {
  border-bottom: $underline-width solid $day;
}

.header__contact {
  display: none;
}

.layout__header-container[data-size='medium'],
.layout__header-container[data-size='small'] {
  .header__section {
    flex-direction: row;
    align-items: flex-end;
  }
  .header__section:last-of-type {
    justify-content: space-between;
  }
  .header__title {
    @include t--header-1;
  }

  .header__subtitle {
    @include t--header-3;
    color: $complementary;
    max-width: 18rem;
    margin-bottom: 0.4rem;
  }

  .header__contact {
    @include t--header-3;
    display: block;
    color: $day;
    align-self: flex-end;
    border-bottom: $underline-width solid $night;
    margin-bottom: 0.4rem - $underline-width;
    cursor: pointer;
  }

  .header__contact:hover {
    border-bottom: $underline-width solid $day;
  }
  .header__author {
    display: none;
  }
}

.layout__header-container[data-size='small'] {
  .header__section {
    padding: 0 0;
  }

  .header__title {
    white-space: normal;
  }
  .header__subtitle {
    white-space: normal;
  }

  .header__line {
    display: none;
    opacity: 0;
  }
  .header__line-short {
    display: block;
    opacity: 1;
    height: ($header-height-small - 2rem);
  }
  .header__subtitle {
    bottom: 0 !important;
  }
  pre {
    white-space: normal;
  }
}

@media (min-width: 0px) and (max-width: $bp-small) {
  .header__section {
    padding: $unit 0;
    width: 100%;
    flex-direction: column;
  }

  .header__line-hz {
    display: block;
    width: 100%;
  }

  .header__line {
    display: none;
  }

  .header__line-short {
    display: none;
  }

  .header__author {
    padding-top: $unit * 3;
    position: relative;
  }

  .layout__header-container[data-size='small'] {
    .header__section:last-of-type {
      flex: 1 0 0;
    }
    .header__subtitle {
      display: none;
    }
    .header__line-short {
      display: none;
    }
    .header__line-hz {
      display: none;
      width: 100%;
    }

    .header__contact {
      margin-bottom: 0.1rem;
    }
  }
}
