// Welcome to the world of typography dependent positioning.
$header-height-full: $flh--t--title * 3 + $unit * 6;
$header-height-small: $flh--t--header-1 + $unit * 2;
$header-height-full-responsive: $flh--t--title-responsive * 3 +
  $flh--t--header-1-responsive * 5 + $unit * 8;
$header-height-small-responsive: $flh--t--header-1-responsive + $unit * 2;

.layout__header-container {
  @include block-container;
  height: $header-height-full;

  flex-direction: column;
  align-items: center;

  background: $night;
}

.layout__header-container[data-size="small"] {
  position: sticky;
  top: ($header-height-full - $header-height-small) * -1;
  z-index: 100;
}

.layout__header-container[data-size="small"][data-size-fixed="true"] {
  height: $header-height-small;
  top: 0;
}

.layout__header {
  @include block;
  justify-content: space-between;
  position: relative;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  padding: $unit $side-padding;
  margin-bottom: -1px; // Fix for Chrome layout issue
}

@media (min-width: 0px) and (max-width: $bp-small) {
  .layout__header-container {
    height: $header-height-full-responsive;
  }

  .layout__header {
    flex-direction: column;
    padding: $unit $side-padding-responsive;
  }

  .layout__header-container[data-size="small"] {
    top: ($header-height-full-responsive - $header-height-small-responsive) * -1;
    .layout__header {
      flex-direction: row;
    }
  }
}

.header__section {
  display: flex;
  flex-direction: column;
  width: calc(50% - #{$unit * 1.5});
  padding: 2rem 0;
  justify-content: space-between;
}

.header__section:last-of-type {
  display: flex;
}

.header__title {
  @include t--title;
  white-space: pre;
  color: $day;
}

.header__line {
  position: absolute;
  opacity: 1;
  bottom: 1rem;
  left: calc(50% - #{0.3rem});
  display: block;
  height: ($header-height-full - 2rem);
}

.header__line-short {
  opacity: 0;
}

.header__line-hz {
  display: none;
}

.header__subtitle {
  position: relative;
  white-space: pre;
  @include t--header-1;
  line-height: 3.4rem;
  color: $complementary;
}

.header__meta-container {
  display: flex;
  justify-content: space-between;
}

.header__author {
  @include t--header-3;
  color: $day;
  border-bottom: $underline-width solid $night;
  margin-bottom: -$underline-width;
  cursor: pointer;
}

.header__contact {
  @include t--header-3;
  display: block;
  color: $day;
  align-self: flex-end;
  border-bottom: $underline-width solid $night;
  margin-bottom: -$underline-width;
  cursor: pointer;
}

.header__author:hover a,
.header__contact:hover {
  border-bottom: $underline-width solid $day;
}

.layout__header-container[data-size="small"] {
  .header__section {
    flex-direction: row;
    align-items: flex-end;
    padding: 0 0;
  }
  .header__section:last-of-type {
    justify-content: space-between;
  }
  .header__title {
    @include t--header-1;
    white-space: normal;
  }

  .header__subtitle {
    @include t--header-3;
    color: $complementary;
    margin-bottom: 0.4rem;
  }

  .header__line {
    display: none;
    opacity: 0;
  }

  .header__line-short {
    display: block;
    opacity: 1;
    height: ($header-height-small - 2rem);
    align-self: flex-end;
  }

  .header__author {
    display: none;
  }

  .header__contact {
    margin-bottom: -$underline-width + 0.4rem;
  }
}

@media (min-width: 0px) and (max-width: $bp-medium) {
  .layout__header-container[data-size="small"] {
    .header__subtitle {
      display: none;
    }
  }
}

@media (min-width: 0px) and (max-width: $bp-small) {
  .header__section {
    padding: $unit 0;
    width: 100%;
    flex-direction: column;
  }

  .header__line-hz {
    display: block;
    width: 100%;
  }

  .header__line {
    display: none;
  }

  .header__line-short {
    display: none;
  }

  .header__author {
    padding-top: $unit * 3;
    position: relative;
  }

  .layout__header-container[data-size="small"] {
    .header__section:last-of-type {
      flex: 1 0 0;
    }
    .header__subtitle {
      display: none;
    }
    .header__line-short {
      display: none;
    }
    .header__line-hz {
      display: none;
      width: 100%;
    }

    .header__contact {
      margin-bottom: 0.1rem;
    }
  }
}
