@use "sass:math";

.layout__iyd-container {
  @include block-container;

  flex-direction: column;
  align-items: center;

  background: #ffcc00;
}

.layout__iyd {
  @include block;
  justify-content: space-between;
  padding: 2rem $side-padding 0;
}

.iyd__section__left {
}

.iyd__title {
  @include t--roc-title;
  padding-right: 1rem;
  width: 100%;
}

.iyd__section__right {
  display: flex;
  justify-content: flex-end;
}

.iyd__img {
  // this height value is in balance with the t--roc-title font-size
  height: 9.9rem;
  box-shadow: -10px 20px 40px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.iyd__nav {
  @include block;
  margin-top: -1rem;
  padding-top: 0rem;
}

.iyd__nav__item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: $black;
  color: $white;
  width: calc(50% - #{$half});
  margin-right: 1rem * 2;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }
}

.iyd__nav__item:hover,
.iyd__nav__item-active {
  background: $day;
  color: $night;
}

.iyd__nav__item-text {
  @include t--roc-btn;
  padding: 0.5rem 0.9rem 0;
}

@media (min-width: 0px) and (max-width: $bp-small) {
  .layout__iyd-container {
    height: auto;
  }

  .layout__iyd {
    flex-direction: column;
  }

  .iyd__section__left {
    display: none;
    width: 100%;
  }

  .iyd__section__right {
    justify-content: unset;
    padding: 0;
    width: 100%;
  }

  .iyd__img {
    height: unset;
    width: 100%;
  }

  .iyd__nav {
    flex-direction: column;
    padding-top: 0;
  }

  .iyd__nav__item {
    width: 100%;
    margin: 0 0 0.5rem;
  }
}
