.markdown {
  padding-bottom: $unit;
  h1 {
    @include t--header-1;
    padding: $unit 0;
    padding-bottom: $unit / 5;
  }

  h2 {
    @include t--header-2;
    padding: $unit 0;
    padding-bottom: $unit / 5;
  }

  h3 {
    @include t--header-3;
    padding: $unit 0;
    padding-bottom: $unit / 5;
  }

  p {
    @include t--body;
    padding-bottom: $unit * 2 / 3;
  }

  a {
    color: $complementary;
  }

  a:hover {
    border-bottom: $border-width solid $complementary;
  }
}
