.markdown {
  h2 {
    @include t--x-small;
    padding: 1rem 0 0.8rem;
  }

  p {
    @include t--body;
    padding-bottom: $two;
  }

  a {
    color: $complementary;
  }

  a:hover {
    text-decoration: underline;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .viewer__title {
    padding-left: $unit;
  }

  .viewer__content {
    h2 {
      @include t--x-small-responsive;
    }

    p {
      @include t--body-responsive;
    }
  }
}
