.nav__list {
  display: flex;
  padding: $two 0 0 $half;
}

.nav__item {
  @include t--x-small;
  color: $day;
}

.nav__item:hover a {
  border-bottom: .5rem solid $day;
}

.nav__item::after {
  content: '|';
  padding: 0 $half;
}

.nav__item:last-child::after {
  content: '';
}

@media (min-width: 0px) and (max-width: 600px) {
  .nav__list {
    display: none;
  }
}
