.navbar__item {
  width: calc(100% / 3 - #{$unit});
  padding: $unit;

  background-color: $complementary;
  color: $day;
  cursor: pointer;

  transition: all 0.4s ease;
}

.navbar__item:last-of-type {
  width: calc(100% / 3);
}

.navbar__item:hover {
  background: $day;
  .navbar__item-title {
    color: $night;
  }
}

.navbar__item-title {
  @include t--header-3;
  color: $day;
}

.navbar__item--active {
  background: $day;
  .navbar__item-title {
    color: $night;
  }
}

.navbar__item-title--responsive {
  display: none;
}

@media (min-width: 0px) and (max-width: 600px) {
  .navbar__item-title {
    display: none;
  }
  .navbar__item-title--responsive {
    display: block;
  }
}
