.product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.product__content {
  margin-left: calc(33.33% - #{$unit});
  min-height: 80vh;
  background-color: $day;
  position: relative;
  padding-left: $unit;
  width: calc(66.66% + #{$unit});
  z-index: 2;
}

.product__title {
  @include t--x-large;
  padding-bottom: 7rem;
}

.product__image {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 50%;
}
