.product__content {
  margin-left: calc(33.33% - #{$unit});
  background-color: $day;
  position: relative;
  height: 100%;
  padding: $unit * 4 0 $unit * 4 $unit;
  width: calc(66.66% + #{$unit});
}

.product__title {
  @include t--x-large;
  padding-bottom: 7rem;
}

.product__image {
  position: absolute;
  left: 0;
  width: 50%;
}

.layout__product-container[data-layout='horizontal-left'] {
  .product__content {
    margin-left: unset;
    margin-right: calc(33.33% - #{$unit});
    padding: $unit * 4 $unit $unit * 8 0;
  }

  .product__image {
    left: unset;
    right: 0;
    width: 50%;
  }
}

.layout__product-container[data-layout='vertical'] {
  display: flex;
  flex-direction: column;
  align-items: center;

  .product__content {
    padding: $unit * 4 0 $unit * 8 0;
    margin-left: unset;
  }

  .product__image {
    position: relative;
    left: unset;
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .layout__product-container.layout__product-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .layout__product {
      position: relative;
      background: $day;
    }
    .product__content {
      width: 100%;
      padding: $unit * 4 0 $unit * 8 0;
      margin: 0;
    }

    .product__image {
      position: relative;
      left: unset;
      width: 100%;
      max-height: 25vh;
    }
  }
}
