.social {
  width: 100%;
  max-width: 1200px;
}

.social__hashtag {
  width: 100%;
}

.social__text-container {
  padding: $unit 0 0 0;
}

.social__text {
  @include t--x-small;
}

@media (min-width: 0px) and (max-width: 600px) {
  .social__text {
    @include t--small-responsive;
  }
}

.social__placeholder {
  width: 33%;
  margin-left: $unit;
}
