.layout__sources-container {
  @include block-container;

  flex-direction: column;
  align-items: center;

  background: $white;
}

.layout__sources {
  @include block;
  flex-direction: column;
  padding: $unit * 2 $side-padding;
}

.sources__title {
  @include t--roc-header-1;
  padding-bottom: $unit;
  padding-right: $unit;
  width: 100%;
}

.sources__text p {
  @include t--body-black;
  color: $complementary;
  max-width: 66%;
}

.layout__sources .markdown {
  a {
    color: $black;
  }
}

.sources__split-section {
  display: flex;
  flex-direction: row;
}

.sources__side-nav {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.sources__side-nav-item {
  margin-bottom: 0.5rem;

  a {
    display: inline-block;
    @include t--roc-header-3;
    border-bottom: $border-width solid transparent;
  }

  a:hover {
    border-bottom: $border-width solid var(--accent-color);
  }
}

.sources__main {
}
