@mixin block-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@mixin block {
  display: flex;
  width: 100%;
  max-width: $max-width;
  padding: $two $side-padding;
  @media (min-width: 0px) and (max-width: $bp-small) {
    padding: $two $side-padding-responsive;
  }
}

.layout__app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: $complementary;
}

.layout__page-container {
  ::selection {
    background: $complementary;
    background: var(--accent-color);
    color: $night;
  }
}
