@mixin block-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@mixin block {
  display: flex;
  width: 100%;
  max-width: 1250px;
  padding: $two $side-padding;
}

.layout__app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: $complementary;
}

.layout__header-container {
  @include block-container;
  width: 100%;
  height: 120rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $night;
}

// Here to fix a small issue with fast scrolling
.layout__header-container::before {
  position: fixed;
  top: -1px;
  z-index: 99;
  height: 26rem;
  width: 100%;
  background: $night;
  content: '';
}
// endfix

.layout__header-container[data-size='small'] {
  position: sticky;
  top: 0;
  z-index: 100;
  justify-content: flex-end;
  top: -94rem;
}

.layout__header {
  @include block;
  position: relative;
  z-index: 100;
  justify-content: space-between;
}

.layout__checkboxes-container {
  @include block-container;
  background: $complementary;
}

.layout__checkboxes {
  @include block;
  flex-direction: column;
}

.layout__navbar-container {
  @include block-container;
  position: sticky;
  top: 25rem;
  z-index: 95;
  width: 100%;
  background: $complementary;
}

.layout__navbar {
  @include block;
  display: flex;
  justify-content: space-between;
}

.layout__products-container {
  background: $day;
  transition: all 0.5s ease;
}

.layout__product-container {
  @include block-container;
  position: relative;
  background: $day;
  min-height: 50vh;
}

.layout__product {
  @include block;
  padding-top: 0;
  padding-bottom: 0;
}

.layout__form-container {
  @include block-container;
  background: $complementary;
  position: relative; // For animation overlapping
  z-index: 20; // for animation overlapping
}

.layout__form {
  @include block;
  flex-direction: column;
}

.layout__social-container {
  @include block-container;
  background: $complementary;
}

.layout__social {
  @include block;
  flex-direction: column;
}

.layout__credits-container {
  @include block-container;
  padding: $two $side-padding $unit * 5;
  background: $night;
}

.layout__credits {
  @include block;
  flex-direction: column;
}
