.layout__app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background: $complementary;
}

.layout__block-container {
  display: flex;
  justify-content: center;
}

.layout__block {
  padding: $two $side-padding;
  max-width: 1200px;
  width: 100%;
}

// Block specific colors
.layout__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: $night;
}

.layout__checkboxes {
  width: 100%;
  background: $complementary;
}

.layout__products {
  padding: 250rem 0 10rem 0;
  background: $day;
}

.layout__product {
}

.layout__form {
  position: relative; // For animation overlapping
  z-index: 20; // for animation overlapping
  background: $complementary;
}

.layout__social {
  background: $complementary;
}

.layout__credits {
  padding: $two $side-padding $unit * 5;
  background: $night;
}
