@font-face {
  font-family: 'nittigrotesk-normal';
  src: url('../../static/fonts/nittigrotesk-normal-v20.eot');
  src: url('../../static/fonts/nittigrotesk-normal-v20.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'nittigrotesk-black';
  src: url('../../static/fonts/nittigrotesk-black-v20.eot');
  src: url('../../static/fonts/nittigrotesk-black-v20.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@mixin t--title {
  font-family: nittigrotesk-black;
  font-size: 12rem;
  line-height: 9rem;
}

@mixin t--header-1 {
  font-family: nittigrotesk-black;
  font-size: 4rem;
  line-height: 5rem;
}

@mixin t--header-2 {
  font-family: nittigrotesk-black;
  font-size: 2rem;
  line-height: 2rem;
}

@mixin t--header-3 {
  font-family: nittigrotesk-black;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

@mixin t--body-black {
  font-family: nittigrotesk-black;
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin t--body {
  font-family: nittigrotesk-normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

@each $min,
  $max,
  $size in (0, 800, 20),
  (300, 400, 20),
  (400, 500, 20),
  (500, 600, 20),
  (600, 700, 20),
  (700, 800, 20),
  (800, 900, 20),
  (900, 1000, 18),
  (1000, 1200, 18),
  (1100, 1200, 18),
  (1200, 1400, 18),
  (1400, 1600, 18),
  (1600, 9999, 18) {
  @media (min-width: $min + px) and (max-width: $max + px) {
    html {
      font-size: $size + px;
    }
  }
}
