.block__container {
  display: flex;
}

.block {
  padding: 1rem;
}

.block--small {
  width: 50%;
  min-height: 22.5rem;
  margin: 0 0 1rem 0;
  background: $day;
}

@media (min-width: 0px) and (max-width: 767px) {
  .block__container {
    flex-direction: column;
  }
  .block--small {
    width: 100%;
  }
}

div.block--small:first-of-type {
  margin: 0 1rem 1rem 0;
}

.block--large {
  width: 100%;
  min-height: 45rem;
  background: $day;
}

.block--small:hover {
  background: $night;
}

.block:hover .block__title--back, .block:hover .block__text--back  {
  display: block;
  color: $day;
}

.block:hover .block__title--front{
  display: none;
}

.block__header {
  font-family: nittigrotesk-black;
  font-size: 2rem;
  line-height: 2rem;
  color: $complementary;
}

.block__title {
  padding: 0 0 1rem 0;
  font-family: nittigrotesk-black;
  font-size: 5rem;
  line-height: 4.25rem;
  color: $night;
}

.block__title--back {
  display: none;
}

.block__text {
  font-family: nittigrotesk-normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

.block__text--back {
  display: none;
}

.block p {
  padding: 0 0 1rem 0;
}