.button__container {
  display: flex;
  padding: 4rem 0 2rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
  padding: 4rem 0;
  background: $night;
  color: $day;
}

.button + .button {
  margin-left: 4rem;
}

.button:hover {
  background: $white;
  color: $complementary;

  .button__img {
    display: none;
  }

  .button__img--hover {
    display: block;
  }
}

.button__text {
  @include t--x-small;
}

.button__img {
  height: 8rem;
  width: 8rem;
  margin-right: 3rem;
}



.button__img--hover {
  display: none;
}
