.button__container {
  display: flex;
  padding: 4rem 0 2rem;
}

.button {
  display: flex;
  align-items: center;
  padding: 4rem 20rem;
  background: $night;
  color: $day;
}

.button + .button {
  margin-left: 4rem;
}

.button:hover {
  background: $day;
  color: $night;
}

.button__text {
  @include t--x-small;
}

.button__img {
  height: 8rem;
  width: 8rem;
  margin-right: 3rem;
}
