.credits {
  width: 100%;
  max-width: 1200px;
}

.credits__title {
  @include t--small;
  padding-bottom: 2rem;
  color: $day;
}

.credits__text p {
  @include t--x-small;
  color: $complementary;
}

.credits__text a {
  border-bottom: .5rem solid $complementary;
}

.credits__text a:hover {
  color: $day;
  border-bottom: .5rem solid $day;
}
