.form {
  width: 100%;
  max-width: 1200px;
}

.form__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $two;
  width: calc(33% - 2rem);
}

.form__arrow {
  width: 10rem;
  padding-bottom: 3rem;
}

.form__title {
  @include t--x-small;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $unit;
  border: 1rem solid $day;
  color: $day;
}

@media (min-width: 0px) and (max-width: 600px) {
  .form__header {
    width: 100%;
  }

  .form__title {
    @include t--small-responsive;
  }
}

.form__fields-container {
  padding: $half 0;
}

.form__field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: $unit;
}

.form__fields-container .form__field[data-placeholder-shown='true'] + .form__label {
  margin: 0 0 -9rem;
}

.form__label {
  @include t--x-small;
  order: 1;
  padding: 0 0 3rem 3.5rem;
  transition: all 1s ease;
  position: relative;
  z-index: 0;
  margin: 0;
}

.form__field {
  @include t--medium;
  line-height: 11rem;
  position: relative;
  z-index: 10;
  order: 2;
  width: 100%;
  padding: $unit;
  border: 0;
  color: $night;
  border-radius: 0;
}

.form__field::placeholder {
  color: $complementary;
}

.form__submit-container {
  display: flex;
  align-items: center;
}

.form__submit {
  @include t--medium;
  align-self: flex-end;
  display: block;
  width: 33.33%;
  height: 5 * $unit;
  border: 0;
  background: $night;
  color: $day;
  cursor: pointer;
  border-radius: 0;
  appearance: none;
}

.form__submit-text {
  @include t--small;
  @include row-component;
  padding-left: $unit;
}

@media (min-width: 0px) and (max-width: 600px) {
  .form__field {
    @include t--small;
  }

  .form__submit {
    width: 50%;
    height: 14rem;
  }
}
