.form {
  width: 100%;
  max-width: 1200px;
}

.form__header {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.form__arrow {
  width: 10rem;
  padding-bottom: 3rem;
}

.form__title {
  @include t--x-small;
  display: inline-block;
  padding: 4rem;
  border: 1rem solid $day;
  color: $day;
}

.form__fields-container {
  padding: 2rem 0;
}

.form__field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 4rem;
}

.form__fields-container .form__field:placeholder-shown + .form__label {
  display: none;
}

.form__label {
  @include t--x-small;
  order: 1;
  padding: 0 0 3rem 3.5rem;
}

.form__field {
  @include t--medium;
  order: 2;
  width: 100%;
  padding: 3.5rem;
  border: 0;
  color: $night;
  border-radius: 0;
}

.form__field-container--cc {
  width: 75%;
  margin-right: 4rem;
}

.form__field--cc {
  @include t--x-small;
  height: 16rem;
}

.form__field::placeholder {
  color: $complementary;
}

.form__submit-container {
  display: flex;
}

.form__submit {
  @include t--medium;
  align-self: flex-end;
  display: block;
  width: 33.33%;
  height: 16rem;
  border: 0;
  background: $night;
  color: $day;
  margin: 0 0 4rem;
  cursor: pointer;
  border-radius: 0;
  appearance: none;
}
