.header__title {
  @include t--title;
  color: $day;
}

.header__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__line {
  display: block;
  padding: 1rem 0 1rem 0;
  height: 20rem;
  padding: 0 4rem;
}

.header__subtitle {
  @include t--subtitle;
  color: $complementary;
}

.header__author {
  @include t--medium;
  color: $day;
}