.header__title {
  font-family: nittigrotesk-black;
  font-size: 6rem;
  line-height: 4.25rem;
  color: $day;
}

.header__line {
  display: block;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.header__subtitle {
  font-family: nittigrotesk-black;
  font-size: 2rem;
  line-height: 2rem;
  color: $complementary;
}

.header__author {
  padding: 1rem 0 1rem 0;
  font-family: nittigrotesk-black;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: $day;
}