.header__title {
  font-family: nittigrotesk-black;
  font-size: 3rem;
  line-height: 4rem;
  color: white;
}

.header__subtitle {
  font-family: nittigrotesk-black;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: $complementary;
}

.header__author {
  font-family: nittigrotesk-black;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: white;
}