.nav__list {
  display: flex;
  padding: 8rem 0 0 2rem;
}

.nav__item {
  @include t--x-small;
  line-height: 5rem;
  color: $day;
}

.nav__item:hover a {
  border-bottom: 1px solid $day;
}

.nav__item::after {
  content: '|';
  padding: 0 $half;
}

.nav__item:last-child::after {
  content: '';
}

@media (min-width: 0px) and (max-width: 600px) {
  .nav__list {
    display: none;
  }
}
