.tab__container {
  display: flex;
  padding-bottom: $two;
  width: 100%;
  max-width: 1200px;
}

.tab {
  display: block;
  position: relative;
  padding: $half $unit;
  width: 33%;
  min-height: $unit * 9;
  background: $day;
  transition: all 0.4s ease;
}

.tab:hover:not(.tab--active) {
  background: $night;

  .tab__subtitle {
    color: $day;
  }
}

.tab + .tab {
  margin: 0 0 0 $unit;
}


.tab__title {
  @include t--medium;
  color: $complementary;
}

.tab__subtitle {
  @include t--medium;
  padding: 0 0 1rem;
  color: $night;
}

.tab__big-title {
  @include t--large;
  padding-bottom: 4rem;
  color: $complementary;
}

.tab__arrow {
  position: absolute;
  height: $two;
  width: auto;
  bottom: -$two;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media (min-width: 0px) and (max-width: 600px) {
  .tab__container {
    @include column-component;
    padding: $unit 0;
  }

  .tab {
    width: 100%;
  }

  .tab + .tab {
    margin: $unit 0 0;
  }

  .tab__arrow {
    display: none;
  }
}
