.tab__container {
  display: flex;
}

.tab {
  padding: 1rem;
  width: 33%;
  min-height: 15rem;
  background: $day;
}

div.tab + div.tab {
  margin: 0 0 0 1rem;
}

.tab:hover {
  background: $night;
}

.tab:hover .tab__subtitle {
  color: white;
}

.tab__title {
  font-family: nittigrotesk-black;
  @include t--large;
  color: $complementary;
}

.tab__subtitle {
  padding: 0 0 1rem 0;
  @include t--large;
  color: $night;
}