.tab__container {
  display: flex;
  padding-bottom: 10rem;
}

.tab {
  display: block;
  position: relative;
  padding: 2rem 6rem;
  width: 33%;
  min-height: 35rem;
  background: $day;
}

.tab + .tab {
  margin: 0 0 0 4rem;
}

.tab:hover {
  background: $night;
}

.tab__title {
  @include t--medium;
  color: $complementary;
}

.tab__subtitle {
  padding: 0 0 1rem 0;
  @include t--medium;
  color: $night;
}

.tab:hover .tab__subtitle {
  color: white;
}

.tab__workshop-title {
  @include t--large;
  padding-bottom: 4rem;
  color: $complementary;
}

.tab__arrow {
  position: absolute;
  height: 10rem;
  width: auto;
  bottom: -10rem;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.tab__arrow-black {
  display: none;
}

.tab:hover .tab__arrow-black {
  display: block;
}