.viewer {
  display: flex;
  flex-direction: column;
  padding: 0 0 $two;
  width: 100%;
  max-width: 1200px;
}

.viewer__title {
  @include t--x-large;
  padding-bottom: 7rem;
}

.viewer__content {
  h2 {
    @include t--x-small;
    padding: 1rem 0 .8rem;
  }

  p {
    @include t--body;
    padding-bottom: 4rem;
  }

  a {
    color: $complementary;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .viewer__title {
    padding-left: $unit;
  }

  .viewer__content {
    h2 {
      @include t--x-small-responsive;
    }

    p {
      @include t--body-responsive;
    }
  }
}

.viewer__button-header {
  @include t--small;
  padding: $unit $unit 0;
  color: $complementary;
}

// App specific

.viewer--app {
  flex-direction: row;
  padding-bottom: 0;
}

.viewer__content--app {
  max-width: 80rem;
}

.viewer__iphone-container {
  overflow: hidden;
  width: 100%;
  height: 140rem;
  padding: 25rem 0 0 20rem;
}

.viewer__iphone {
  width: 100%;
}

@media (min-width: 0px) and (max-width: 600px) {
  .viewer--app {
    flex-direction: column;
  }

  .viewer__content--app {
    padding: 0 $unit;
  }
}

// Book specific

.viewer__issuuembed {
  width: 100%;
  height: 100rem;
  margin: 3rem 0 10rem;
  background: url('../assets/images/issuu.png') no-repeat center center;
  background-size: cover;
}

.viewer__book-grid {
  display: flex;
}

.viewer__book-grid-section {
  width: calc(66.66% + #{4rem});
}

.viewer__book-grid-section:first-of-type {
  padding-left: $unit;
}

.viewer__book-grid-section:last-of-type {
  margin-left: $unit;
  width: calc(33.33%);
  padding-left: 8rem;
  display: flex;
  flex-direction: column;
}

@media (min-width: 0px) and (max-width: 600px) {
  .viewer__book-grid {
    flex-direction: column;
  }

  .viewer__book-grid-section,
  .viewer__book-grid-section:last-of-type {
    margin: 0;
    width: 100%;
  }

  .viewer__book-grid-section:first-of-type {
    padding-left: 0;
  }

  .viewer__book-grid-section:last-of-type {
    padding: $two;
  }
}

.viewer__book-image-container {
  display: flex;
  align-items: flex-start;
  padding: $unit 0;
}

.viewer__book-image {
  display: block;
  width: 100%;
  margin: 0 0 $unit;
}

.viewer__book-image-hz {
  display: block;
  width: 50%;
  margin: 0 $half 0 0;
}

.viewer__book-image-hz:last-child {
  display: block;
  width: 50%;
  margin: 0 0 0 $half;
}

// Workshop specific

.viewer__content--workshop {
  max-width: calc(66% - #{$unit});
}

.viewer__marker {
  width: 100%;
  padding: 10rem;
  max-width: 128.5rem;
}

@media (min-width: 0px) and (max-width: 600px) {
  .viewer__content {
    max-width: 100%;
    padding: 0 $unit;
  }
}
