.viewer {
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
  max-width: 140rem;
}

.viewer__title {
  @include t--x-large;
  padding-bottom: 7rem;
}

.viewer__content {
  max-width: 140rem;

  h2 {
    @include t--x-small;
    padding: 1rem 0 .8rem;
  }

  p {
    @include t--body;
    padding-bottom: 4rem;
  }

  a {
    color: $complementary;
  }
}

.viewer__button-header {
  @include t--small;
  padding: 4rem 0 0;
  color: $complementary;
}

// App specific

.viewer--app {
  flex-direction: row;
  padding-bottom: 0;
}

.viewer__content--app {
  max-width: 80rem;
}

.viewer__iphone-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 140rem;
  padding: 25rem 0 0 20rem;
}

.viewer__iphone {
  position: absolute;
  width: calc(100% - 20rem);
}

// Book specific

.viewer__issuuembed {
  width: 100%;
  height: 100rem;
  margin: 3rem 0 10rem;
  background: url('../assets/images/issuu.png') no-repeat center center;
  background-size: cover;
}

// Workshop specific

.viewer__marker {
  width: 100%;
  padding: 10rem;
  max-width: 128.5rem;
}
