// Font files are located in the static/fonts folder
@font-face {
  font-family: "nittigrotesk-normal";
  src: url("../../static/fonts/nittigrotesk-normal-v20.eot");
  src: url("../../static/fonts/nittigrotesk-normal-v20.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "nittigrotesk-black";
  src: url("../../static/fonts/nittigrotesk-black-v20.eot");
  src: url("../../static/fonts/nittigrotesk-black-v20.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

// Title typography mixins

$flh--t--title: 7.5rem;
$flh--t--title-responsive: 5.5rem;

@mixin t--title {
  font-family: nittigrotesk-black;
  font-size: 11rem;
  line-height: $flh--t--title;
  vertical-align: baseline;
  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 8rem;
    line-height: $flh--t--title-responsive;
  }
}

$flh--t--subtitle: 4rem;
$flh--t--subtitle-responsive: 2.5rem;

@mixin t--subtitle {
  font-family: nittigrotesk-black;
  font-size: 4rem;
  line-height: $flh--t--subtitle;
  vertical-align: baseline;
  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 2.5rem;
    line-height: $flh--t--subtitle-responsive;
  }
}

// Main typography mixins

@mixin t--header-1 {
  font-family: nittigrotesk-black;
  font-size: 6rem;
  line-height: 6rem;
  vertical-align: baseline;
  letter-spacing: -0.1rem;
  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 6rem;
    line-height: 5rem;
  }
}

@mixin t--header-2 {
  font-family: nittigrotesk-black;
  font-size: 3rem;
  line-height: 3rem;
  vertical-align: baseline;
  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

$flh--t--header-3: 1.5rem;

@mixin t--header-3 {
  font-family: nittigrotesk-black;
  font-size: 1.5rem;
  line-height: $flh--t--header-3;
  vertical-align: baseline;
  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@mixin t--body-black {
  font-family: nittigrotesk-black;
  font-size: 1rem;
  line-height: 1rem;
  vertical-align: baseline;
  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@mixin t--body {
  font-family: nittigrotesk-normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  vertical-align: baseline;
  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
