// Typography for roc-grotesk-compressed added with "if you don't" updated

// roc-grotesk-compressed font-face declaration
// this font is controlled by typekit so we don't need to import it
@import url("https://use.typekit.net/lju0pjr.css");

// these size values are in balance with the height of the if-you-dont image
@mixin t--roc-title {
  font-family: roc-grotesk-compressed;
  font-size: 15rem;
  line-height: 12.3rem;
  font-weight: 600;

  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 8rem;
    line-height: 5.5rem;
  }
}

@mixin t--roc-header-1 {
  font-family: roc-grotesk-compressed;
  font-size: 4rem;
  line-height: 4rem;
  font-weight: 600;

  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

@mixin t--roc-header-2 {
  font-family: roc-grotesk-compressed;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;

  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@mixin t--roc-header-3 {
  font-family: roc-grotesk-compressed;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;

  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

@mixin t--roc-btn {
  font-family: roc-grotesk-compressed;
  font-size: 3rem;
  line-height: 3rem;
  baseline-shift: 0.5rem;
  font-weight: 600;

  @media (min-width: 0px) and (max-width: $bp-small) {
    font-size: 3rem;
    line-height: 3rem;
  }
}
