// List of possible colors:


// Definitions used troughout the stylesheets:
$primary: $darkblue;
$secundary: $mediumblue;
$tertiary: $lightblue;

$complementary: $red;

$day: $white;
$light: $lightgray;
$medium: $gray;
$heavy: $heavygray;
$dark: $darkgray;
$night: $black;
