.layout__app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.layout__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 18rem;
  padding: 4rem;
  background: $night;
}

.layout__main {
  flex-grow: 1;
  flex-direction: column;
  padding: 2rem;
  background: $complementary;
  overflow-y: scroll;
}

.layout__delimiter {
  max-width: 50rem;
}

@media (min-width: 0px) and (max-width: 767px) {

}