.layout__app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.layout__header {
  @include row-component-center;
  padding: $two $side-padding;
  background: $night;
}

.layout__tabs {
  @include row-component-center;
  padding: $unit $side-padding;
  background: $complementary;
}

.layout__viewer {
  @include row-component-center;
  padding: $two $side-padding 0;
  background: $day;
  width: 100%;
}

.layout__form {
  @include row-component-center;
  padding: 0 $side-padding;
  background: $complementary;
}

.layout__social {
  @include row-component-center;
  padding: $unit $side-padding;
  min-height: 80rem;
  background: $complementary;
}

.layout__credits {
  @include row-component-center;
  padding: $two $side-padding $unit * 5;
  background: $night;
}
