@font-face {
  font-family: 'nittigrotesk-normal';
  src: url('../assets/fonts/nittigrotesk-normal-v20.eot');
  src: url('../assets/fonts/nittigrotesk-normal-v20.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'nittigrotesk-black';
  src: url('../assets/fonts/nittigrotesk-black-v20.eot');
  src: url('../assets/fonts/nittigrotesk-black-v20.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@mixin t--title {
  font-family: nittigrotesk-black;
  font-size: 43.5rem;
  line-height: 28rem;
}

@mixin t--subtitle {
  font-family: nittigrotesk-black;
  font-size: 17rem;
  line-height: 14rem;
}

@mixin t--x-large {
  font-family: nittigrotesk-black;
  font-size: 22rem;
  line-height: 15.5rem;
}

@mixin t--large {
  font-family: nittigrotesk-black;
  font-size: 16.5rem;
  line-height: 11.8rem;
}

@mixin t--medium {
  font-family: nittigrotesk-black;
  font-size: 9rem;
  line-height: 9rem;
}

@mixin t--small {
  font-family: nittigrotesk-black;
  font-size: 6rem;
  line-height: 6rem;
}

@mixin t--x-small {
  font-family: nittigrotesk-black;
  font-size: 4.5rem;
  line-height: 5rem;
}

@mixin t--body {
  font-family: nittigrotesk-black;
  font-size: 4rem;
  line-height: 5rem;
}